body.day-mode {
    background-color: rgb(255, 249, 238);
    color: rgb(20, 9, 1);
}

body.night-mode {
    background-color: #232527;
    color: rgb(255, 255, 255);
}

/* .navbar-nav {
    display: none;
}

.navbar-nav.show-menu {
    display: block;
} */

.day-mode .navbar-toggler-icon {
    background-color: #000000;
    border: none;
}

.night-mode .navbar-toggler-icon {
    background-color: #ffffff;
    border: none;
}

.day-mode .btn-primary {
    background-color: #c34e00;
    border-color: #c34e00;
    color: white;
}

.night-mode .btn-primary {
    background-color: #ffc05a;
    border-color: #ffc05a;
    color: black;
}

.day-mode .navbar {
    background-color: #ffffff;
    color: black;
    border-bottom: 1px solid #e2e2e2;
}

.night-mode .navbar {
    background-color: #232527;
    color: white;
    border-bottom: 1px solid #ffc05a;
}

.day-mode .nav-link {
    color: black;
}

.night-mode .nav-link {
    color: white;
}

.day-mode .navbar-brand {
    color: #c34e00;
}

.night-mode .navbar-brand {
    color: #ffc05a;
}

.navbar-nav {
    display: none;
}

/* Pokazywanie menu po najechaniu na navbar */
.navbar:hover .navbar-nav {
    display: block;
}

/* Stylizacja dla wysuwanego menu */
.day-mode .navbar-nav {
    position: absolute;
    top: 48px; /* Wysokość paska nawigacyjnego */
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e2e2;
}

.night-mode .navbar-nav {
    position: absolute;
    top: 48px; /* Wysokość paska nawigacyjnego */
    left: 0;
    width: 100%;
    background-color: #232527;
    border-bottom: 1px solid #ffc05a;
}

.navbar-nav .nav-item {
    display: block;
    padding: 12px;
}

.day-mode .navbar-nav .nav-item a {
    text-decoration: none;
    color: #333;
}

.day-mode .navbar-nav .nav-item a:hover {
    color: #c34e00;
}

.night-mode .navbar-nav .nav-item a {
    text-decoration: none;
    color: #ffffff;
}

.night-mode .navbar-nav .nav-item a:hover {
    color: #ffc05a;
}

.day-mode-card {
    background-color: #ffffff;
    color: black;
    border-radius: 12px;
}

.night-mode-card {
    background-color: #343a40;
    color: white;
    border-radius: 12px;
}

.scaled-image {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius: 12px;
}

.footer .text-muted {
    text-align: center;
    display: block;
  }